body {
    font-family: 'Raleway', sans-serif;
}

img { 
    height: auto;
    max-width: 100%;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.work {
    margin-top: 30px;
}

.title-2{
    text-align: center;
}

.project {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
}

a {
    color: gray;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media screen and (min-width:494px) {
    .pimg {
        width: 100%;
    }
}