body {
    font-family: 'Raleway', sans-serif;
}

img { 
    height: auto;
    max-width: 100%;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.work {
    margin-top: 30px;
}

.title-2{
    text-align: center;
}

.project {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
}

a {
    color: gray;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media screen and (min-width:494px) {
    .pimg {
        width: 100%;
    }
}

@media screen and (min-width:865px) {
    .container { 
        display:flex;
    }

    .project {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 0;
    }

    .project:last-of-type{
        margin-right: 0;
    }

    .header {
        margin-top: 50px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 50px;
    }